body {
  font-family: 'Roboto', sans-serif;

}
.full {
  background-color: #41b64e;
  width: 1200px;
  height: 755px;
  overflow: hidden;
}

.month {
  width: 1160px;
  height: 115px;
  margin-left: 20px;
  margin-right: 20px;
  background: #1b751b;
}

ul {
  list-style-type: none;
}

/* Previous button */

.prev {
  float: left;
  margin-left: 10px;
  margin-top: 40px;
}

.fa-arrow-circle-left:before {  
  color: black;
}



.head {
  float: left;
  margin-top: 15px;
  margin-left: 320px;
  font-size: 75px;
  letter-spacing: 2px;
  color: white;
  font: bold;
  text-align: center;
}

/* Next button */

.next {
  float: left;
  margin-top: 40px;
  margin-left: 275px;
}
ul li i  {  
  color: black;
}



/* Line with namedays */

.namedays {
  padding-top: 10px;
  margin-top: 10px;
  text-align: center;
  font-size: 25px;
  letter-spacing: 1px;
  color: white;
}

.week {
  background-color: white;
}

td {
  width: 170px;
  height: 115px;
  text-align: center;
  font-size: 65px;
  position: relative;
  border: collapse;
}

td:hover {
  background-color: lightgrey;
  
}

td:active {
  padding-bottom: 2px;
  padding-right: 2px;
  padding-left: 2px;
}

tr td i {
  font-size: 25px;
  position: absolute;  
  color: black;
  bottom: 80px;
  left: 125px;
}

.today  {
  color: green;  
}